@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "variables.css";
@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/message-row.css";
@import "components/reply.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chat.css";
body {
	font-family: "Open Sans", sans-serif;
}
.main-screen {
	margin-bottom: 73px;
	padding: 0 var(--horizontal-space);
}

/* @keyframes hideSplashScreen {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}

#splash-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--yellow);
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	font-size: 70px;
	animation: hideSplashScreen 1s ease-in-out forwards;
	animation-delay: 1s;
} */
